@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter";
  background: url(/img/wrapper-img.svg) no-repeat;
  background-position: 0% 100%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
.wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}
.wrapper .container .information {
  background-image: url(/img/info-img.svg);
  background-repeat: no-repeat;
  background-position: top;
  width: 635px;
  height: 354px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .container .information .info {
  max-width: 635px;
  font-weight: 300;
  font-size: 32px;
  gap: 32px;
  line-height: 44px;
  position: absolute;
  color: #202047;
  left: 0;
}
.wrapper .container .information .name {
  margin-top: 300px;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  color: #b9b9ce;
}
.wrapper .container .information .name span {
  font-weight: 700;
  color: #202047;
}
.wrapper .container .user-foto {
  background-image: url(/img/Group.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 697px;
  height: 657px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .container .user-foto img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 40px 50px -30px rgba(36, 36, 113, 0.5);
          box-shadow: 0 40px 50px -30px rgba(36, 36, 113, 0.5);
}
.wrapper .container .user-foto button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 112px;
  height: 56px;
  -webkit-box-shadow: 0 15px 20px -10px rgba(36, 36, 113, 0.1);
          box-shadow: 0 15px 20px -10px rgba(36, 36, 113, 0.1);
  background: #fff;
  border-radius: 28px;
  border: none;
  gap: 48px;
  -webkit-transform: translate(-152px, -30px);
      -ms-transform: translate(-152px, -30px);
          transform: translate(-152px, -30px);
}

@media screen and (max-width: 1150px) {
  .body {
    background-size: 70%;
  }
  .wrapper {
    height: 100%;
  }
  .wrapper .container {
    padding-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .wrapper .container .information {
    width: 550px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .container .information .info {
    position: static;
    text-align: center;
  }
  .wrapper .container .information .name {
    margin: 0;
  }
  .wrapper .container .user-foto button {
    -webkit-transform: translate(0px, -24px);
        -ms-transform: translate(0px, -24px);
            transform: translate(0px, -24px);
  }
}
@media screen and (max-width: 750px) {
  body {
    background-size: 50%;
  }
  .wrapper {
    height: 100vh;
    padding: 0 32px;
  }
  .wrapper .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
    max-width: 311px;
  }
  .wrapper .container .information {
    background-size: 60px;
    width: 311px;
    height: 238px;
    gap: 24px;
  }
  .wrapper .container .information .info {
    position: static;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .container .information .name {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .container .user-foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 326px;
    height: 307px;
  }
  .wrapper .container .user-foto img {
    width: 100%;
    max-width: 254px;
    height: 253px;
  }
  .wrapper .container .user-foto button {
    width: 100%;
    max-width: 80px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    -webkit-transform: translate(0px, -24px);
        -ms-transform: translate(0px, -24px);
            transform: translate(0px, -24px);
  }
  .wrapper .container .user-foto button .mmmmmm {
    width: 5px;
    height: 11px;
  }
}